.volume  { .chart-series-line { -fx-stroke-width:2px;
	-fx-effect: null;
}

.default-color0.chart-series-line {
	-fx-stroke:   #c0392b  ;
}

.default-color1.chart-series-line {
	-fx-stroke: #e9967a;
}

.default-color2.chart-series-line {
	-fx-stroke: #dda0dd;
}

.default-color0.chart-line-symbol {
	-fx-background-color:   #c0392b  , white;
}

.default-color1.chart-line-symbol {
	-fx-background-color: #e9967a, white;
}

.default-color2.chart-line-symbol {
	-fx-background-color: #dda0dd, white;
}
}